#AddBanner{
    border: 2px solid black;
    background-color: black;
    background-image: url("https://img.freepik.com/free-vector/organic-flat-hotel-banner-with-photo_52683-62489.jpg?semt=ais_hybrid&w=740&q=80");
}